/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px; /* espace gauche et droite */
  background: #fb8500;

  ul {
    flex: 3;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #023047;
    &:hover {
      opacity: 0.6;
    }
  }

  img {
    width: 200px;
  }
}

/* HERO SECTION */
#hero {
  display: flex;
  padding: 20px;
  height: 80vh;

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 50%;
  }

  img {
    width: 50%;
    padding: 20px;
  }
}

/* BANDE + TEXTE */
.bande {
  background: #fb8500;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* espace */
    padding: 20px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase; /* mettre en majuscule */
    color: #023047;
  }
}
